@import url(../css/reset.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,700);
.container {
  max-width: 500pt; }

.container--centered {
  margin: 0 auto; }

.content {
  padding: 10pt 0; }

.content--dark {
  background-color: #1e333f;
  color: #f9f2f0; }

.content--light {
  background-color: #ef8460;
  color: #f9f2f0; }

.content--columns {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center; }

.content--centered {
  margin: 0 auto; }

.with-vertical-spacing * {
  margin-top: 10pt; }
  .with-vertical-spacing *:first-child {
    margin-top: 0; }

.icon {
  width: 60pt;
  margin: 0 10pt;
  opacity: 0.5;
  fill: white; }

.icon--rotate-left {
  transform: rotate(-15deg); }

.icon--rotate-right {
  transform: rotate(15deg); }

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; }

.intro {
  padding: 0 10pt; }

.intro {
  height: calc(100vh - 10pt);
  background: #f9f2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .intro * {
    margin: 5pt 0; }
  .intro :first-child {
    margin-top: 0; }
  .intro :last-child {
    margin-bottom: 0; }
  .intro p {
    opacity: 0.8;
    font-style: italic; }
  .intro button {
    display: inline-block;
    align-self: center;
    padding: 10pt;
    background-color: white;
    font-size: 1.1em;
    outline: none;
    color: #1e333f;
    border: 2px solid #ef8460;
    border-radius: 5pt; }
  .intro::after {
    content: "";
    background: url("../assets/intro_mac.jpg") center;
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.top-highlight {
  background-color: #ef8460;
  height: 10pt; }

.top-highlight--with-bottom-margin {
  margin-bottom: 10pt; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #ef8460;
  color: #1e333f; }

@media (max-device-width: 600pt) {
  body {
    font-size: 1.5em; } }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

p {
  line-height: 1.4; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
