@import "../values/colours";

.content {
  padding: 10pt;
}

.content--dark {
  background-color: $secondary-color;
  color: $primary-text-color;
}

.content--light {
  background-color: $primary-color;
  color: $primary-text-color;
}

.content--columns {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.content--centered {
  margin: 0 auto;
}