.icon {
  width: 60pt;
  margin: 0 10pt;
  opacity: 0.5;
  fill: white;
}

@media(max-width: 300pt) {
  .icon {
    width: 25vw;
  }
}

.icon--rotate-left {
  transform: rotate(-15deg);
}

.icon--rotate-right {
  transform: rotate(15deg);
}