@import "../values/baseElements";
@import "../values/colours";

.intro {
  @extend %inner-padding;
  height: calc(100vh - 10pt);
  background: $primary-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  * {
    margin: 5pt 0;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  p {
    opacity: 0.8;
    font-style: italic;
  }

  button {
    display: inline-block;
    align-self: center;
    padding: 10pt;
    background-color: white;
    font-size: 1.1em;
    outline: none;
    color: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 5pt;
  }

  &::after {
    content: "";
    background: $intro-imac center;
    background-size: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}